.bodytt{
    margin-top: 100px;

}
.bodytt button{
    margin: auto;
    width: 400px;
    text-align: center;
    margin-top: 10px;
}
.card{
    text-align: center;
    margin: auto;
    width: 400px;
    margin-bottom: 20px;
}

.form-control{

    margin: auto;
    width: 300px;

}
.form-control:focus{
    background-color: #282c34;
    color: grey;
}